.form-group2 {
    position: relative;
    left:220px;
    top:-105px;
}

.form-group3 {
    position: relative;
    left:440px;
    top:-212px;
}

.form-group4 {
    position: relative;
    left:660px;
    top:-320px;
}

.book{
    margin-top: -19.5%;
    position: relative;

}

.reservation_text{
    color: black;
    font-weight: 700;
    font-size: 20px;
}

.input_reservation{
    color: black;
    font-size: 18px;
    font-weight: 800;
    background-color: white;
    border-radius: 10px;
    height: 50px;
}

.add_cart_button{
    background-image: linear-gradient(red, red, red, rgb(0, 0, 0));
    position: absolute;
    top:980px;
    left: 1020px;
    z-index: 15;
}

.add_cart_button:hover{
    background-image: linear-gradient(rgb(0, 0, 0), red, red, rgb(255, 0, 0));
}

.film_hall_div{
    width: 400px;
    height: 295px;
    background-color: none;
    display: flex;
    padding-left: 20px;
    margin-left: 260%;
    margin-top: -100%;
}

.film_hall_div_sub1{
    width: 135px;
    height: 20px;
    background-image: url("filmHall1.png");
    margin-left: 0px;
}

.film_hall_div_sub2{
    width: 150px;
    height: 20px;
    background-image: url("filmHall2.png");
    padding-left: 40px;
    margin-left: 10px;
}

.film_hall_div_sub3{
    width: 110px;
    height: 20px;
    background-image: url("filmHall3.png");
    margin-left: 10px;
}