.print{
   font-size: xx-large;
   color:  blue;
}

.section {
    grid-template-rows:    repeat(2.5, 60px);
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 6px;
    grid-row-gap: 6px;
    height: 60%;

}

.section > div {
    border: 2px solid rgb(0, 0, 0);
}
.section > div:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.91);
    color: white;
}

.disabled {
    background-color: rgba(245, 22, 22, 0.91);
    color: white;
}
.booked {
    background-color:  rgba(1, 86, 213, 0.99);
    color: white;
}

.section .disabled:hover {
    cursor: not-allowed;
}

.button_booking {
    margin-top: 10px;
    border-radius: 5px;
    background-image: linear-gradient(red, red, red, rgb(0, 0, 0));
    padding:10px 15px;
    color: #ffffff;
    border: none;
}

.button_booking:hover {
    background-image: linear-gradient(rgb(0, 0, 0), red, red, rgb(255, 0, 0));
}

.input {
    border: 2px solid rgb(255, 0, 0);
    border-radius: 4px;
    color: black;
    font-size: 16px;
    font-weight: bold;
  }

.seat_booking_div1{
    width: 1100px;
    height: 700px;
    background-color: #ffffff;
}

.seat_booking_div2{
    position: absolute;
    top: 10%;
    left: 4%;
    width: 86%;
    height: 600px;
    background-color: #ffffff;
}

.seats_div_all{
    background-color: none;
    width: 300px;
    height: 600px;
    margin-top:0%;
    margin-left: -70%;
}

.main_text_booing{
    color:black;
    font-weight: bold;
}

.homeimg_screen{
    position: absolute;
    background-image: url("screen.png");
    z-index: 4;
    height: 600px;
    width: 100px;
    top:18%;
    left: 40%;
}

.homeimg_img{
    position: absolute;
    top:40%;
    left:45%;
    background-color:none;
    width: 700px;
    height: 400px;
}

.homeimg_img1{
    width: 100%;
    height: 100%;
    background-image: url("screenBig.png");
}

.circle1 {
    height: 20px;
    width: 20px;
    background-color: rgba(1, 86, 213, 0.99);
    border-radius: 50%;
    margin-left: 20px;
border:2px solid black;}

.circle2 {
    height: 20px;
    width: 20px;
    background-color: #ffffff;
    border-radius: 50%;
    margin-left: 20px;
    border:2px solid black;}

.circle3 {
    height: 20px;
    width: 20px;
    background-color: rgba(245, 22, 22, 0.91);
    border-radius: 50%;
    margin-left: 20px;
    border:2px solid black;}

.list_booking{
    display: flex;
    margin-left: 20px;
    z-index: 7;
    position: absolute;
    top:110%;
    left:3%;
}

.list_booking1{
    margin-left: 20px;
}