nav {
  text-transform: uppercase;
}

header{
  margin-bottom: 100px;
}

.header-title{
  letter-spacing: 2px;
  color: rgb(255, 255, 255);
  margin-left: 18%;
  font-size:20px;
  margin-top: 1%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
  
}

.header-bg{
  background-color: rgba(0, 0, 0, 0.795);
  backdrop-filter: blur(20px);
}

.width_header{
  height: 120px;
}

.black_line{
  width: 100%;
  background-color: rgb(255, 0, 0);
  height: 10px;
}

.signing{
  background-color: none;
  color: rgb(255, 255, 255);
  border-radius: 20px;
  border: 3px solid red;
  width:140px;
}

.signing:hover{
  background-color: rgb(255, 255, 255);
  color: rgb(255, 0, 0);
  font-weight: 700;
  border: 3px solid red;
  box-shadow: 0 4px 8px 0 black, 0 3px 10px black;
  padding-left: 20px;
}

.signing:active{
  background-color: rgb(255, 255, 255);
  color: rgb(255, 0, 0);
  font-weight: 700;
  border: 3px solid red;
  box-shadow: 0 4px 8px 0 black, 0 3px 10px black;
  padding-left: 20px;
}

.icon_sidebar{
  background-color:none;
  color: #ffffff;
}

.home_button{
  background-color: rgba(0, 0, 0, 0);
  color: rgb(255, 255, 255);
  width:145px;
  font-size: 16px;
  font-weight:none;
  border: none;
  padding-left: 30px;
  
}

.home_button:hover{
 
  color: rgb(255, 0, 0);
  width:145px;
  font-size: 18px;
  font-weight:400;
  border: none;
  padding-left: 30px;
  transform: scale(1.05);
	transition: transform 1s;
}

.log_out_button{
  width: 140px;
  height: 40px;
  background-color: red;
  border-radius: 5px;
  margin-right: -40%;
  margin-top: -1%;
  z-index: 10;
}


.cart_icon{
  margin-right: 1%;
  width:400px;
}